<div class="container p-4">
  <div class="text-info font-weight-bold">《<%= @comment.job.name %>》<%= @comment.theme.name %></div>

  <div class="row justify-content-center">
    <div class="col-3 col-md-1 align-self-center">
      <div class="balloon5">
        <div class="faceicon">
          <%=  image_tag @comment.member.get_profile_image(70, 70) %>
        </div>
      </div>
    </div>

    <div class="col-7 col-md-6 align-self-center">
      <div class="balloon5">
        <div class="chatting">
          <div class="says">
            <%= @comment.comment %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="w-100 pt-3">
      <div class="reply-title">
        <div class="row ">
          <div class="col-6">
            <%= @replies.count %>件の返信
          </div>
          <% if member_signed_in? && !current_member.guest? %>
            <div class="col-6 text-right">
              <%= link_to "返信する", new_job_theme_comment_reply_path(@comment.job, @comment.theme, @comment) , class: "btn btn-primary text-right" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @replies.count > 0 %>
    <% @replies.each do |reply| %>
      <div class="row bg-select pr-3">
        <div class="col-3 col-md-1 offset-md-2 align-self-center">
          <div class="balloon5">
            <div class="faceicon">
              <%= link_to member_path(reply.member) do %>
                <%=  image_tag reply.member.get_profile_image(70,70) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-7 col-md-6 align-self-center">
          <div class="balloon5">
            <% if reply.member == reply.comment.member %>
              <div class=" rounded  text-primary font-weight-bold">
                《コメント投稿者》
              </div>
            <% end %>
            <div class="chatting">
              <div class="says">
                <%= reply.reply %>
              </div>
            </div>
            <div class="text-right"><%= reply.created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
          </div>
        </div>

        <div class="col-2 align-self-center">
          <div class="balloon5">

            <% if reply.member == current_member || admin_signed_in? %>
              <%= link_to  job_theme_comment_reply_path(@comment.job, @comment.theme, @comment, reply), method: :delete, remote: true,  data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>

            <span>
              <!--管理者としてログインしている場合の通報ボタンの表示-->
              <% if admin_signed_in? %>
                <% if reply.reports.count > 0 %>
                  <button type="button" class="btn btn-danger">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                  </button>
                <% else %>
                  <button type="button" class="btn btn-secondary">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                  </button>
                <% end %>
              <% end %>

              <!--ゲストユーザー以外の会員としてログインしている場合の通報（自分以外のコメントを通報できる）ボタンの表示-->
              <% if member_signed_in? && !current_member.guest? && reply.member != current_member %>
                <% if reply.reported_by?(current_member, reply) %>
                  <button type="button" class="btn btn-secondary">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                  </button>
                <% else %>
                  <%= link_to new_job_theme_comment_report_path(@comment.job, @comment.theme, @comment, reply_id: reply), class: "btn btn-warning" do %>
                    <i class="fa-solid fa-triangle-exclamation"></i>
                  <% end %>
                <% end %>
              <% end %>
            </span>

          </div>
        </div>

      </div>
    <% end %>
  <% else %>
    <h3 class="text-center py-3">コメントはありません</h3>
  <% end %>
  <div class="row justify-content-center py-3">
    <%= link_to "掲示板へ戻る", job_theme_path(@comment.job, @comment.theme), class: "btn btn-primary col-sm-3" %>
  </div>
</div>