<div class="container p-4">

  <div class = "row justify-content-center py-3">
    <h3>管理者ログイン</h3>
  </div>

  <div class="w-75 py-4">
    <%= form_with model: @admin, url: admin_session_path do |f| %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4 text-left text-md-center">
            <%= f.label :email, "メールアドレス" %>
          </div>
          <div class="col-md-8">
            <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4 text-left text-md-center">
            <%= f.label :password, "パスワード" %>
          </div>
          <div class="col-md-8">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row pt-3">
          <div class="col-md-4 text-left text-md-center">
          </div>
          <div class="col-md-8">
            <%= f.submit "ログイン", class: 'btn btn-primary col-md-8' %>
          </div>
        </div>
      </div>

    <% end %>
  </div>

</div>