<div class="row">
  <div class="col-sm-2 offset-1 ">
    <div class="row justify-content-center">
      <%= image_tag comment.member.get_profile_image(70,70) %>
    </div>
    <div class="row justify-content-center">
      <%= link_to member_path(comment.member) do %>
        <%= comment.member.nickname %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="comment-all">
      <%= comment.comment %>
    </div>
  </div>
  <div class="row col-sm-2">
    <div id="comment_<%= comment.id %>">
      <%= render partial: 'public/favorites/favorite', locals:{job: job, theme: theme, comment: comment} %>
    </div>
    <div id="comments_destroy">
      <%= render partial: 'public/comments/destroy', locals:{job: job, theme: theme, comment: comment} %>
    </div>
    <div>
      <%# if comment.member != current_member %>
        <%= link_to  new_job_theme_comment_report_path(job ,theme ,comment),   class: "btn btn-sm btn-warning" do %>
          <i class="fa-solid fa-triangle-exclamation"></i>
        <% end %>
      <%# end %>
    </div>
  </div>
</div>
