<div class="row">
  <div class="col-2 col-md-1 offset-md-2 align-self-center">
    <div class="balloon5">
      <div class="faceicon">
        <%= link_to member_path(comment.member) do %>
          <%=  image_tag comment.member.get_profile_image(70,70) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-7 col-md-6 align-self-center">
    <div class="balloon5">
      <div class="chatting">
        <div class="says">
          <%= comment.comment %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 align-self-center">
    <div class="balloon5">
      <span id="comment_<%= comment.id %>">
        <%= render partial: 'public/favorites/favorite', locals:{job: job, theme: theme, comment: comment} %>
      </span>
      <span id="comments_destroy">
        <%= render partial: 'public/comments/destroy', locals:{job: job, theme: theme, comment: comment} %>
      </span>
      <span>
        <% if admin_signed_in? %>
          <% if comment.reports.count > 0 %>
            <button type="button" class="btn btn-danger">
              <i class="fa-solid fa-triangle-exclamation"></i>
            </button>
          <% else %>
            <button type="button" class="btn btn-secondary">
              <i class="fa-solid fa-triangle-exclamation"></i>
            </button>
          <% end %>
        <% end %>
        <% if member_signed_in? %>
          <% if current_member.email != 'guest@example.com' %>
            <% if comment.member != current_member %>
              <% if comment.reported_by?(current_member) %>
                <button type="button" class="btn btn-secondary">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                </button>
              <% else %>
                <%= link_to  new_job_theme_comment_report_path(job ,theme ,comment),   class: "btn btn-sm btn-warning" do %>
                  <i class="fa-solid fa-triangle-exclamation"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</div>