<div class="container">
  <% if admin_signed_in? %>
    <%= form_with model: [theme, comment], url: job_theme_comments_path(job,theme), local: false do |f| %>
    <div class = "row py-4 justify-content-center">
      <%= f.text_area :comment, rows: '3', cols: '70',placeholder: "コメントを入力（0文字では送信できません）",disabled: true %>
    </div>
    <div class = "row justify-content-center">
      <%= f.submit "送信" ,  class: "col-sm-3 "%>
    </div>
  <% end %>
  <% end %>
  <% if member_signed_in? %>
    <% if current_member.email != 'guest@example.com' %>
      <%= form_with model: [theme, comment], url: job_theme_comments_path(job,theme), local: false do |f| %>
        <div class = "row py-4 justify-content-center">
          <%= f.text_area :comment, rows: '3', cols: '70',placeholder: "コメントを入力（0文字では送信できません）" %>
        </div>
        <div class = "row justify-content-center">
          <%= f.submit "送信" ,  class: "col-sm-3 "%>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>