<div class="container p-4">
    <div class="row justify-content-center py-4">
      <h3>会員情報編集</h3>
    </div>

    <% if @member.errors.any? %>
      <ul class="alert alert-danger" role="alert">
        <h5 class="alert-heading">
          <%= @member.errors.count %>件のエラーが発生しました
        </h5>
        <% @member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="row justify-content-center pt-3">
      <%= form_with model: @member, local:true do |f| %>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-left text-md-center">
                <%= f.label :profile_image, "プロフィール画像" %>
              </div>
              <div class="col-md-8">
                <%= f.file_field :profile_image, accept: "image/*" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-left text-md-center">
                <%= f.label :name, "名前（姓/名）" %>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <%= f.text_field :last_name, placeholder: '姓', class: 'form-control' %>
                  </div>
                  <div class="col-md-6">
                    <%= f.text_field :first_name, placeholder: '名', class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-left text-md-center">
                <%= f.label :nickname, "ニックネーム" %>
              </div>
              <div class="col-md-8">
                <%= f.text_field :nickname, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-left text-md-center">
                <%= f.label :email, "メールアドレス" %>
              </div>
              <div class="col-md-8">
                <%= f.email_field :email, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-left text-md-center">
                <%= f.label :password, "パスワード" %>
              </div>
              <div class="col-md-8">
                <%= f.password_field :password, class: 'form-control' %>
                <small class="text-dark">※パスワードを変更する場合入力してください。</small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-left text-md-center">
                <%= f.label :introduction, "自己紹介文" %>
              </div>
              <div class="col-md-8">
                <%= f.text_area :introduction, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-left text-md-center">
                <%= f.label :belong, "属性" %>
              </div>
              <div class="col-md-8">
                <%= f.select :belong, {"大企業勤務": "大企業勤務", "中小企業勤務": "中小企業勤務", "フリーランス": "フリーランス", "学生": "学生", "就職活動中": "就職活動中", "転職を検討中": "転職を検討中"}, { include_blank: '選択してください'}, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <%= f.submit "更新する" , class: 'btn btn-success  col-sm-3 m-3'%>
            <%= link_to "退会する" , confirm_members_path, class: 'btn btn-danger col-sm-3 m-3' %>
          </div>
          <div class="row justify-content-center py-3">
            <%=  link_to "マイページへ戻る" , member_path(@member), class: 'btn btn-primary col-sm-5 mx-4' %>
          </div>
        <% end %>

    </div>
</div>