<div class = "container">
  <div class = "row py-4">
    <h3><%= @member.nickname %>さんのテーマ投稿履歴</h3>
  </div>
  <table class="table table-hover table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th class="header">投稿日</th>
        <th class="header">帰属職業</th>
        <th class="header">テーマ名</th>
        <th class="header">追加理由</th>
        <th class="header">公開/非公開</th>
        <th class="header">管理者確認</th>
      </tr>
    </thead>
    <tbody>
      <% @themes.each do |theme| %>
        <tr>
          <td class="table-light"><%= theme.created_at.strftime('%Y/%m/%d') %></td>
          <td class="table-light"><%= theme.jobs.name %></td>
          <td class="table-light"><%= theme.name %></td>
          <td class="table-light"><%= theme.reason %></td>
          <td class="table-light">
            <% if theme.is_published == false %>
              <p class="text-danger font-weight-bold">非公開</p>
            <% else %>
              <p class="text-success font-weight-bold">公開</p>
            <% end %>
          </td>
          <td class="table-light">
            <% if theme.is_checked == false %>
              <p class="text-success font-weight-bold">未確認</p>
            <% else %>
              <p class="text-success font-weight-bold">確認済み</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
  <%= paginate @themes %>
  </div>
</div>