<div class="container">
  <div class="row py-4">
    <h3>マイページ</h3>
  </div>
  <div class="row">
    <div class="d-flex align-items-center col-sm-3 ">
       <%= image_tag @member.get_profile_image(200,200) %>
    </div>
    <div class="col-sm-8">
      <h4>登録情報</h4><h5 class="mx-5"><%#= link_to "編集する" , members_info_edit_path, class: 'btn btn-success' %></h5>
      <div class="table-responsive table-hover">
        <table class="table table-bordered">
          <tr>
            <th class="table-active">氏名</th>
            <td class="table-active"><%= @member.last_name %><%= "　" %><%=@member.first_name %></td>
          </tr>
          <tr>
            <th class="table-active">ニックネーム</th>
            <td class="table-active"><%= @member.nickname %></td>
          </tr>
          <tr>
            <th class="table-active rowspan="3"">紹介文</th>
            <td class="table-active rowspan="3""><%= @member.introduction %></td>
          </tr>
          <tr>
            <th class="table-active">所属</th>
            <td class="table-active"><%= @member.belong %></td>
          </tr>
        </table>
       </div>
    </div>
  </div>

</div>
