 <div class = "container p-4">
  <div class = "row justify-content-center pt-3">
    <h3>職業詳細</h3>
  </div>

  <div class="row justify-content-center py-3">
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">職業id</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= @job.id %></div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">ジャンル</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= @job.genre.name %></div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">職業名</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= @job.name %></div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">追加理由</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= @job.reason %></div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">投稿者</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= link_to @job.member.nickname , admin_member_path(@job.member) %></div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">表示ステータス</div>
        <div class="col-md-5 text-center border border-dark bg-white text-dark">
          <% if @job.is_published == false %>
            <div class="text-danger font-weight-bold">未公開</div>
          <% else %>
            <div class="text-success font-weight-bold">公開</div>
          <% end %>
        </div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">確認ステータス</div>
        <div class="col-md-5 text-center border border-dark bg-white text-dark">
          <% if @job.is_checked == false %>
            <div class="text-danger font-weight-bold">未確認</div>
          <% else %>
            <div class="text-success font-weight-bold">確認済み</div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="row justify-content-center pt-4">
    <%= link_to "編集する" , edit_admin_job_path(@job), class: "btn btn-success col-sm-3" %>
  </div>

  <div class="row justify-content-center py-4">
    <%=link_to "職業一覧へ戻る" , admin_jobs_path, class: "btn btn-primary col-sm-3" %>
  </div>
</div>