<div class="container p-4">
    <div class="row justify-content-center pt-4">
      <h3>テーマ追加画面</h3>
    </div>

    <% if @theme.errors.any? %>
      <ul class="alert alert-danger" role="alert">
        <h5 class="alert-heading">
          <%= @theme.errors.count %>件のエラーが発生しました
        </h5>
        <% @theme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="row justify-content-center p-4">
      <div class="w-75">
        <%= form_with model: [@job, @theme], local:true do |f| %>

          <div class="form-group">
            <div class="row">
              <div class="col-md-3 text-left text-md-left">
                <%= f.label :name, "テーマ名" %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :name, placeholder: "追加するテーマを入力", class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-3 text-left text-md-left">
                <%= f.label :contact, "管理人への連絡事項" %>
              </div>
              <div class="col-md-9">
                <%= f.text_area :contact, placeholder: "連絡事項がありましたらご入力下さい", class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-3 text-left text-md-center">
              </div>
              <div class="col-md-9">
                <%= f.submit "テーマを追加する" , class: 'btn btn-success col-md-8' %>
              </div>
            </div>
          </div>

        <% end %>

          <div class="form-group">
            <div class="row">
              <div class="col-md-3 text-left text-md-center">
              </div>
              <div class="col-md-9">
                <%= link_to "テーマ一覧へ戻る" , job_path(@job), class: 'btn btn-primary col-md-8' %>
              </div>
            </div>
          </div>

      </div>
    </div>

</div>