<div class="container p-4">
  <div class="row justify-content-center ">
    <div class="title-box">
      <div class="title-box-title"><%= @job.name %></div>
        <p><%= @theme.name %></p>
    </div>
  </div>
  <div id="comments_area">

  </div>
    <% @comments.each do |comment| %>
      <div class="comment_<%= comment.id %>">
        <%= render partial: 'public/comments/comment', locals:{job: @job, theme: @theme,comment: comment} %>
      </div>
    <% end %>

  <div class="row justify-content-center">
    <%= paginate @comments, theme: 'twitter-bootstrap-4' %>
  </div>

    <div id="comments_new">
      <%= render partial: 'public/comments/form', locals:{job: @job, theme: @theme, comment: @comment} %>
    </div>

  <div class="row justify-content-center py-4">
      <%= link_to "テーマ一覧へ戻る" , job_path(@job), class: 'btn btn-primary col-sm-5' %>
  </div>
</div>