<div class="container">
  <div class="row justify-content-center py-4">
    <div class="job-name"><%= @job.name %></div>
  </div>

  <div class="row theme-box pb-2">
    <% @themes.each do |theme| %>
      <div class="col-md-6 justify-content-center py-2">
        <div class="box27">
          <span class="box-title">
            <%= ThemeInJob.find_by(job_id: @job.id, theme_id: theme.id).interest %>
            <i class="fa-solid fa-arrow-pointer"></i> Click
          </span>
          <p><%= link_to theme.name , job_theme_path(@job,theme) %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center py-4">
    <%= paginate @themes, theme: "twitter-bootstrap-4" %>
  </div>

  <div class="row pb-4 justify-content-center">
    <% if !admin_signed_in? && !current_member.guest? %>
      <%= link_to "テーマを追加する", new_job_theme_path(@job), class: "btn btn-success col-sm-4" %>
    <% end %>
  </div>

  <div class="row pb-4 justify-content-center">
    <%= link_to "職業一覧へ戻る", jobs_path, class: "btn btn-primary col-sm-4" %>
  </div>

</div>