<div class="container">
      <div class="row justify-content-center py-4">
        <div class="job-name"><%= @job.name %></div>
      </div>
      <div class="row justify-content-center pt-2 pb-4">
        <table  border="1"  rules=rows width="80%" >
          <thead>
            <tr align="center">
              <th width="50%" class="bg-primary text-white" >テーマ</th>
              <th width="30%"class="bg-primary text-white"></th>
              <th width="20%" class="bg-primary text-white">関心度</th>
            </tr>
          </thead>
          <tbody>
            <% @themes.each do |theme| %>
              <tr align="center">
                <td class="bg-white"><%= theme.name %></td>
                <td class="bg-white"><%= link_to "みんなの情報を見る" , job_theme_path(@job,theme) %></td>
                <!--<td class="bg-white"><%#= @job.theme_in_jobs.find_by(theme_id: theme.id).interest %></td>-->
                <td class="bg-white"><%= ThemeInJob.find_by(job_id: @job.id, theme_id: theme.id).interest %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row my-4 justify-content-center">
        <% unless admin_signed_in? %>
          <% if @member.email != 'guest@example.com' %>
            <%= link_to "テーマを追加する" , new_job_theme_path(@job), class: 'btn btn-success col-sm-4' %>
          <% end %>
        <% end %>
        <%= link_to "職業一覧へ戻る" , jobs_path, class: 'btn btn-primary offset-1 col-sm-4' %>
      </div>
</div>