  <div class = "container">
    <div class = "row py-4">
      <h3>職業選択画面</h3>
    </div>

    <table class="table table-hover table-bordered py-4">
      <thead class="thead-dark">
        <tr>
          <th class="header">職業id</th>
          <th class="header">職業名</th>
          <th class="header">保有テーマ数</th>
          <th class="header">確認状況</th>
        </tr>
      </thead>
      <tbody>
        <% @Jobs.each do |job| %>
          <tr>
            <td class="table-light"><%= job.id %></td>
            <td class="table-light">
              <%= link_to job.name, admin_theme_path(job) %>
            </td>
            <td class="table-light">
              <%= job.themes.count %>
            </td>
            <% if 0 < job.themes.where(is_checked: false).count %><!--表示ステータスが「false」のものがある場合の条件分岐-->
              <td class="table-light text-danger">未確認のテーマが<%= job.themes.where(is_checked: false).count%>個あります</td>
            <% else %>
              <td class="table-light text-primary">すべてのテーマが確認済みです</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row justify-content-center py-4">
      <%= link_to "TOPへ戻る" , admin_path , class: "btn btn-primary col-sm-3" %>
    </div>
  </div>
