<div class = "container p-4">
  <div class = "row justify-content-center pt-3">
    <h3>職業選択画面</h3>
  </div>
  <% @jobs.each do |job| %>
    <% job_theme = job.themes.where(is_checked: false) %>
    <% if job_theme.present? %>
      <%= job.name %>:
      <%= job_theme.count %></br>
    <% end %>
  <% end %>

  <% @jobs.each do |job| %>
    <div class="row justify-content-center py-3">
      <div class="row col-10 justify-content-center">
        <div class="col-md-5 text-center border border-white bg-info text-white">職業id</div>
        <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= job.id %></div>
      </div>
      <div class="row col-10 justify-content-center">
        <div class="col-md-5 text-center border border-white bg-info text-white">職業名</div>
        <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= link_to job.name, admin_theme_path(job) %></div>
      </div>
      <div class="row col-10 justify-content-center">
        <div class="col-md-5 text-center border border-white bg-info text-white">保有テーマ数</div>
        <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= job.themes.count %>テーマ</div>
      </div>
      <div class="row col-10 justify-content-center">
        <div class="col-md-5 text-center border border-white bg-info text-white">確認状況</div>
        <div class="col-md-5 text-center border border-dark bg-white text-dark">
          <% if 0 < job.themes.where(is_checked: false).count %><!--表示ステータスが「false」のものがある場合の条件分岐-->
            <div class="text-danger font-weight-bold">未確認のテーマが<%= job.themes.where(is_checked: false).count%>個あります</div>
          <% else %>
            <div class="text-success font-weight-bold">すべてのテーマが確認済みです</div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center py-4 ">
    <%= paginate @jobs, theme: 'twitter-bootstrap-4' %>
  </div>

  <div class="row justify-content-center pb-4">
    <%= link_to "TOPへ戻る" , admin_path , class: "btn btn-primary col-sm-3" %>
  </div>
</div>