<div class="container">
    <div class="row py-4">
      <h3>職業情報編集</h3>
    </div>
    <%= form_with model: @report, url: admin_report_path(@report), local:true do |f| %>
    <div class="table-responsive">
      <table class="table table-bordered text-nowrap">
        <tr>
          <th class="table-light">通報id</th>
          <td class="table-light"><%= @report.id %></td>
        </tr>
        <tr>
          <th class="table-light">通報日時</th>
          <td class="table-light"><%= @report.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
        </tr>
        <tr>
          <th class="table-light">対象コメント</th>
          <td class="table-light"><%= @report.comment.comment %></td>
        </tr>
        <tr>
          <th class="table-light">通報者</th>
          <td class="table-light"><%= @report.member.nickname %></td>
        </tr>
        <tr>
          <th class="table-light">通報理由</th>
          <td class="table-light"><%= @report.reason %></td>
        </tr>
        <tr>
          <th class="table-light ">確認ステータス</th>
          <td class="table-light">
              <%= f.radio_button :is_checked, :false %>
              <%= f.label :is_checked, "未確認", class: "col-sm-2" %>
              <%= f.radio_button :is_checked, :true %>
              <%= f.label :is_checked, "確認済み", class: "col-sm-2" %>
          </td>
        </tr>
      </table>
    </div>
    <div class="row py-3  justify-content-center">
      <%= f.submit "更新する" , class: 'btn btn-success col-sm-3'  %>
    </div>
  <% end %>
    <div class="row py-3  justify-content-center">
      <%= link_to "通報詳細画面へ戻る" , admin_report_path(@report), class: 'btn btn-primary col-sm-3 ' %>
    </div>

</div>