<div class = "container">
  <div class = "row py-4">
    <h3>通報一覧</h3>
  </div>

  <table class="table table-hover table-bordered py-4" style="margin-bottom:0px">
    <thead class="thead-dark">
      <tr>
        <th class="header">通報id</th>
        <th class="header">通報日時</th>
        <th class="header">対象コメント</th>
        <th class="header">通報者</th>
        <th class="header">確認ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td class="table-light"><%= report.id %></td>
          <td class="table-light"><%= report.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
          <td class="table-light">
            <%= link_to report.comment , admin_report_path(report) %>
          </td>
          <td class="table-light">
            <%= link_to report.member.nickname , admin_member_path(report.member) %>
          </td>
          <td class="table-light">
            <% if job.is_checked == false %>
              <p class="text-danger font-weight-bold">未確認</p>
            <% else %>
              <p class="text-success font-weight-bold">確認済み</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row justify-content-center py-4">
    <%= link_to "TOPへ戻る" , admin_path , class: "btn btn-primary col-sm-3" %>
  </div>


</div>