 <div class = "container p-4">
  <div class = "row justify-content-center pt-3">
    <h3>通報詳細</h3>
  </div>

  <div class="row justify-content-center py-3">
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">通報id</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= @report.id %></div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">通報日時</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark">
        <%= @report.created_at.strftime('%Y年%m月%d日 %H:%M') %>
      </div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">区分</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark">
        <% if @report.reply_id? %>
          <div class="text-info font-weight-bold">返信コメント</div>
        <% else %>
          <div class="text-info font-weight-bold">コメント</div>
        <% end %>
      </div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">対象コメント</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark">
        <% if @report.reply_id? %>
          <% if @reply.comment.is_published? %>
            <% if @reply.is_published? %>
              <%= link_to @reply.reply, job_theme_comment_replies_path(@job,@theme,@comment) %>
            <% else %>
              <div class="text-danger font-weight-bold">すでに削除済みです</div>
            <% end %>
          <% else %>
            <div class="text-danger font-weight-bold">返信元のコメントが削除済みです</div>
          <% end %>
        <% else %>
          <% if @comment.is_published? %>
            <%= link_to @comment.comment, job_theme_path(@job,@theme) %>
          <% else %>
            <div class="text-danger font-weight-bold">すでに削除済みです</div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">コメント投稿日</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark">
        <%= @comment.created_at.strftime('%Y年%m月%d日 %H:%M') %>
      </div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">通報者</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark">
        <%= link_to @report.member.nickname , admin_member_path(@report.member) %>
      </div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">通報理由</div>
      <div class="col-md-5 text-center border border-dark bg-white text-dark"><%= @report.reason %></div>
    </div>
    <div class="row col-10 justify-content-center">
      <div class="col-md-5 text-center border border-white bg-info text-white">確認ステータス</div>
        <div class="col-md-5 text-center border border-dark bg-white text-dark">
          <% if @report.is_checked? %>
            <div class="text-success font-weight-bold">確認済み</div>
          <% else %>
            <div class="text-danger font-weight-bold">未確認</div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="row justify-content-center pt-4">
    <%= link_to "編集する" , edit_admin_report_path(@report), class: "btn btn-success col-sm-3" %>
  </div>

  <div class="row justify-content-center py-4">
    <%=link_to "通報一覧へ戻る" , admin_reports_path, class: "btn btn-primary col-sm-3" %>
  </div>
</div>